header {
  color: #c76dbc;
}
footer {
  color: #c76dbc;
}
button {
  background-color: #c76dbc;
}
.fancy-border {
  border: 1px dashed black;
}
.fancier-border {
  border: 1px dashed black;
  background-color: yellow;
  border-radius: 5px;
}
p {
  margin: 10px;
}
